.chat-message {
    margin: 2%;
    padding-left: 2%;
    border-radius: 5px;
    max-width: 70%;
}

.user-time-box {
    font: bold;
    font-size: 1.0rem;
    color: rgb(73, 52, 135);
}

.user-time-box span {
    margin-left: 0.5%;
}

.chat-message {

    background: #6fed9d;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 0;
    max-width: 80%;
}

span {
    font-weight: normal;
}

p {
    margin: 0;
}

.message-body {
    font-size: 1.0rem;
}


/* .local-user-message {
    background-color: #4caf50;
    color: #fff;
    align-self: flex-end;
}

.remote-user-message {
    background-color: #2196f3;
    color: #fff;
    align-self: flex-start;
} */